/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", monospace;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centraliza verticalmente */
  align-items: center;
  height: 100vh;
}

/* Título */
h1 {
  text-align: center;
  font-size: 3em;
  margin: 30px 0 10px 0;
  color: #ffffff;
  text-shadow: 0 0 6px rgba(255, 0, 170, 0.7);
}

/* Relógio */
#relogio {
  font-size: 4em;
  font-weight: bold;
  padding: 20px;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-shadow: 0 0 8px rgba(255, 0, 170, 0.979);
  text-align: center;

  /* Animação neon */
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% { text-shadow: 0 0 8px rgba(255, 0, 170, 0.9); }
  100% { text-shadow: 0 0 16px rgba(255, 0, 170, 1); }
}

/* Responsividade */
@media (max-width: 600px) {
  h1 {
    font-size: 1.6em;
  }

  #relogio {
    font-size: 2em; /* menor do que antes */
  }
}

@media (max-width: 400px) {
  #relogio {
    font-size: 1.6em; /* ainda menor em celulares muito pequenos */
  }

  h1 {
    font-size: 1.4em;
  }
}
